/* classe geral */
* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}
/* body */
body {
    overflow-x: hidden;
}
/* Variaveis das Cores */
:root {
    --color: #034159;
    --color0: #025951;
    --color1: #02735E;
    --color2: #038C3E;
    --color3: #0CF25D;;
}
/* Barra de Navegação */
nav {
    background-color: #0CF25D;
}
/* logo */
.logo {
    width: 10%;
}
/* menu */
/* header */
/* Cards */
/* footer */
footer {
    border-top: 1px solid #555;
  }
  
  footer ul {
    padding: 0;
  }
  
  footer ul li {
    display: inline;
    margin: 0 10px;
  }
  .creditos {
    background-color: #212529;
  }
  /* utilits */
  .borda {
    border: 1px solid blue;
  }
  .none {
    display: none;
  }


  

