/* classe geral */
* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}
/* body */
body {
    overflow-x: hidden;
}
/* Variaveis das Cores */
:root {
    --color: #034159;
    --color0: #025951;
    --color1: #02735E;
    --color2: #038C3E;
    --color3: #0CF25D;;
}
/* Barra de Navegação */
nav {
  background: linear-gradient(90deg,#0CF25D,#0c4abd);
}
/* logo */
.logo {
    width: 10%;
}
/* menu */
.campo {
    background-color: var(--color0);
}
/* header */
.header {
    width: 100vh;
    height: 100vh;
}
.pro-1 {
    background-image: url(./image/Propaganda\ 1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pro-2 {
    background-image: url(./image/pro-bike.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pro-3 {
    background-image: url(image/pro-bike3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pro-4 {
  background-image: url(./image/Propaganda\ 2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pro-5 {
  background-image: url(./image/pro-bike2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pro-6 {
  background-image: url(./image/Propaganda\ 3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pro-7 {
  background-image: url(./image/pro-bike4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Cards */
.card-img {
    margin-bottom: 12vh;
}
.card-button {
    margin-top: 6.7vh;
}
.card-button1 {
    margin-top: 3vh;
}
/* footer */
footer {
    border-top: 1px solid #555;
  }
  
  footer ul {
    padding: 0;
  }
  
  footer ul li {
    display: inline;
    margin: 0 10px;
    background: linear-gradient(90deg,#0CF25D,#1069bd);
    border-radius: 10%;
  }
  .creditos {
    background-color: #212529;
  }
  /* utilits */
  .borda {
    border: 1px solid blue;
  }
  .none {
    display: none;
  }
  .perfil {
    background-image: url(./image/download.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;


  }
  .perfil-container {
    background-color: var(--color1);
    border-radius: 10%;

    width: 100vh;
    height: 100vh;

  }
  .gradient {
    background: linear-gradient(80deg,#0CF25D,#1069bd);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .box-gradient {
    background: linear-gradient(80deg,#0CF25D,#1069bd);
  }
  /* botão de comprar */
  .buy {
    background: rgb(0,255,179);
background: linear-gradient(90deg, rgba(0,255,179,1) 0%, rgba(8,238,34,1) 50%, rgba(0,255,179,1) 100%);
    color: #000;
  }
  section img {
    width: auto;
    height: 40vh;
  }


  

