/* classe geral */
* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}
/* body */
body {
    overflow-x: hidden;
}
/* Variaveis das Cores */
:root {
    --color: #034159;
    --color0: #025951;
    --color1: #02735E;
    --color2: #038C3E;
    --color3: #0CF25D;;
}
/* Barra de Navegação */
nav {
    background-color: #0CF25D;
}
/* logo */
.logo {
    width: 10%;
}
/* menu */
.campo {
    background-color: var(--color0);
}
/* header */
.header {
    width: 100vh;
    height: 100vh;
}
.pro-1 {
    background-image: url(./image/Propaganda\ 1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pro-2 {
    background-image: url(./image/Propaganda\ 2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pro-3 {
    background-image: url(./image/Propaganda\ 3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Cards */
.card-img {
    margin-bottom: 12vh;
}
.card-button {
    margin-top: 6.7vh;
}
.card-button1 {
    margin-top: 3vh;
}
/* footer */
footer {
    border-top: 1px solid #555;
  }
  
  footer ul {
    padding: 0;
  }
  
  footer ul li {
    display: inline;
    margin: 0 10px;
  }
  .creditos {
    background-color: #212529;
  }
  /* utilits */
  .borda {
    border: 1px solid blue;
  }
  .none {
    display: none;
  }
  .perfil {
    background-image: url(./image/download.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;


  }
  .perfil-container {
    background-color: var(--color1);
    border-radius: 10%;

    width: 100vh;
    height: 100vh;

  }


  

